- @page_title = 'Książka twarzy'
- if current_user
  .column-left
    - if !current_user.groups.empty? 
      %h5
        .acti
          Grupy do których należysz:
      - current_user.groups.each do |group|
        %a{:href => "/groups/#{group.id}", class: 'btn btn-group'}
          = group.name
        %br
  .column-center
    - @posts.each do |post|
      %ul.list-group
        %li.list-group-item
          %b= post.user.username
          = post.created_at
          %br
          Grupa: 
          = post.group.name
        %li.list-group-item= post.content
  .apple_pagination
    = will_paginate @posts
- else
  %h2
    %strong Welcome, sign up or log in to see more
