- @posts.each do |post|
  %ul.list-group
    %li.list-group-item
      %b #{post.user.first_name} #{post.user.last_name}
      = post.created_at
    %li.list-group-item= post.content
.apple_pagination
  = will_paginate @posts 