- @page_title = @group.name
.column-center
  - if (current_user && current_user.groups.include?(@group))
    = form_for([@group, @post]) do |f|
      - if @post.errors.any?
        #error_explanation
          .alert.alert-danger.post_error
            The post contains #{pluralize(@post.errors.count, "error")}.
          %ul
            - @post.errors.full_messages.each do |msg|
              %li= msg
      = f.text_area :content, class: 'form-control', placeholder: "Wpisz tu swój post"
      = f.submit :submit, value: 'Napisz post', class: "btn btn-success"
  - @posts.each do |post|
    %ul.list-group
      %li.list-group-item
        %b= post.user.username
        = post.created_at
      %li.list-group-item= post.content
  .apple_pagination
    = will_paginate @posts 
.column-left
  %h3 List of users in group:
  %ul.list-group
    - @group.users.each do |user|
      %li.list-group-item= user.username
.column-right
  - if (current_user && current_user.groups.include?(@group))
    = form_for([:add_user, @group]) do |f|
      = text_field_tag :username, nil, placeholder: 'Wpisz username'
      = submit_tag :submit, value: 'Dodaj do grupy', class: "btn btn-success"
