<% @page_title = @group.name %>
   	<div class="column-center">
   		<%= form_for(:post, :url => {:controller => 'posts', :action => 'create'}) do |f| %>
			<%= f.text_area :content, class: 'form-control' %>
			<%= f.hidden_field :group_id, value: @group.id %>
			<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.submit :submit, value: 'Napisz post', class: "btn btn-success" %>
		<% end %>
   		<% @group.posts.reverse.each do |post| %>
   			<ul class="list-group">
   			<li class="list-group-item"><b><%=post.user.username%></b> <%=post.created_at%></li>
   			<li class="list-group-item"><%=post.content%></li>
   			</ul>
   		<% end %>
		</div>
		<div class="column-left">
		   	<h3>List of users in group:</h3>
		   	<ul class="list-group">
			   	<% @group.users.each do |user| %>
			   		<li class="list-group-item"><%= user.username %></li>
			   	<% end %>
		   	</ul>
		</div>
		<div class="column-right">
			<%= form_for(:invite, :url => {:controller => 'users', :action => 'add_user_to_group'}) do |f| %>
				<%= f.text_field :username, class: 'form-control', value: 'Wpisz username' %>
				<%= f.hidden_field :group_id, value: @group.id %>
			<%= f.submit :submit, value: 'Dodaj do grupy', class: "btn btn-success" %>
		<% end %>
	</div>
</div>