<% @page_title = "Dashboard" %>
<% if current_user != @user %>
<center><h2><%= @user.username %>'s Dashboard</h2></center>
	<% @user.groups.each do |group| %>
		<li><b><%= group.name %></b></li>
	<% end %>
<% end %>
<% if current_user == @user %>
	<center><h2>Witaj na swojej tablicy</h2></center>
	<h5>Grupy do których należysz:</h5>
	<% @user.groups.each do |group| %>
		<a href="/group/<%=group.id%>"><div class="btn btn-warning"><%=group.name%></div></a></br>
	<% end %>
	</br>
	<%= form_for(:group, :url => {:controller => 'groups', :action => 'create'}) do |f| %>
	<%= f.text_field :name, class: 'form-control create-group', value: 'Wpisz nazwę grupy' %>
	<%= f.submit :submit, value: 'Załóż grupę', class: "btn btn-success" %>
	<% end %>

<% end %>

Twój adres email: <%= @user.email %></br>
Twój username: <%= @user.username %>