- @page_title = "#{@user.first_name} #{@user.last_name}'s Dashboard"
%center
  %h2
    #{@user.first_name} #{@user.last_name}'s Dashboard
.column-left
  - @user.groups.each do |group|
    %a{:href => "/groups/#{group.id}", class: 'btn btn-group'}
      =group.name
    %br
.column-right
  - if current_user.friends.include?(@user) || current_user.inverse_friends.include?(@user)
    =button_to "Remove this guy from friends", remove_dashboard_path(friend_id: @user.id), class: "btn remove-friend", method: :delete
  - elsif @user.already_invited?(current_user.id)
    You've invited him to you friends
  - else
    =button_to "Add Friend", invite_dashboard_path(friend_id: @user.id), class: "btn add-friend"