!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @page_title ||= 'Testing app'
    <link href="/public/favicon.ico" rel="icon" type="image/x-icon" />
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    %br
    %br
    %br
    .container
      - if flash[:notice]
        .alert.alert-success
          %strong Success!
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-danger
          %strong Alert!
          = flash[:alert]
      = yield
      = debug(params) if Rails.env.development?
